canvas {
    visibility: hidden;
}

@media screen and (orientation:portrait) {
    video {
        width: auto;
        height: 360px;
        margin-left: -20px;
    }
}

@media screen and (orientation:landscape) {

    video {
        width: auto;
        height: 200px;
        padding:0px;
    }

}