@page "/qrcode"
@inject IJSRuntime JsRuntime

<PageTitle>Qr Code</PageTitle>
<h3>qrcode</h3>

<div id="reader" width="600px"></div>

@code {
    private string jsModulePath = "./js/camhelper.js";
    private string errorMessage = "";
    private Task<IJSObjectReference> moduleRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            moduleRef = JsRuntime.InvokeAsync<IJSObjectReference>("import", jsModulePath).AsTask();
            var module = await moduleRef;
            await module.InvokeVoidAsync("init", "reader", DotNetObjectReference.Create(this));
        }
    }

    [JSInvokable]
    public void OnSuccess()
    {
        StateHasChanged();

    }
    [JSInvokable]
    public void onFailure(string e)
    {
        errorMessage = e.Replace("Requested device not found", "Bu cihazın kamerası yok. Bu yüzden tarama işlemi yapamazsınız.");

        StateHasChanged();
    }
}
